In [1]:
from etl.spark_initializer import SparkInitializer
from etl.extractor.extractor import DataFrameExtractor
from etl.tranform.transform import CustomerDataTransformer,PurchaseHistoryDataTransformer,ProductDataTransformer
from etl.validator_data import ValidatorImpl
from etl.load.loader import LoadDataToMysql
import os
from etl.sql_executor import MysqlExecutor
# Set SPARK_CLASSPATH to include JARs
os.environ["SPARK_CLASSPATH"] = os.path.abspath("jars/hadoop-aws-3.3.4.jar") + ";" + os.path.abspath("jars/aws-java-sdk-bundle-1.12.262.jar")

# Reset and initialize Spark session
SparkInitializer._spark = None
spark = SparkInitializer.get_spark()

In [32]:
# Debugging Spark Configuration
print("Spark Configuration:")
for key, value in spark.sparkContext.getConf().getAll():
    print(f"{key}: {value}")

# Debugging AWS Credentials
from etl.config.aws_config import AWSConfig
aws_config = AWSConfig()
print(f"AWS Access Key: {aws_config.access_key}")
print(f"AWS Secret Key: {'***' if aws_config.secret_key else None}")
print(f"S3 Bucket: {aws_config.bucket_name}")

Spark Configuration:
spark.driver.port: 62728
spark.driver.extraJavaOptions: -Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/jdk.internal.ref=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false
spark.hadoop.fs.s3a.secret.key: mbEHEER/07OjGFAE3JY6l9JpEaXP3aDaQITuQ4+c
spark.app.name: Walmart Fashion ETL
spark.executor.id: driver
spark.app.submitTime: 1743663842170
spark.app.startTime: 1743663842403
spark.hadoop.fs.s3a.impl: org.apache.hadoop.fs.s3a.S3AFileSystem
spark.sql.warehouse.dir: file:/C:/Users/ADMIN/Documents/_1_My_work/python_workspace/walmart/spark-warehouse
spark.app.id: local-1743663844169
spark.rdd.compress: True
spark.executor.extraJavaOptions: -Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/jdk.internal.ref=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false
spark.serializer.objectStreamReset: 100
spark.master: local[*]
spark.submit.pyFiles:
spark.submit.deployMode: client
spark.hadoop.fs.s3a.endpoint: s3.ap-southeast-2.amazonaws.com
spark.hadoop.fs.s3a.access.key: AKIAW3MD6NNXKRSJI4NH
spark.ui.showConsoleProgress: true
spark.driver.host: MSI
AWS Access Key: AKIAW3MD6NNXKRSJI4NH
AWS Secret Key: ***
S3 Bucket: walmartbucketpj

**Extractor**

In [2]:
# Step 1: Extract data from S3 with error handling
try:
    fas_purchase_df = (DataFrameExtractor()
                        .extract('csv', 'raw/fashion_purchase_history.csv'))
    print("Successfully loaded fashion purchase data")
    fas_purchase_df.show(3)
    
    customer_df = (DataFrameExtractor()
                        .extract('csv', 'raw/customer.csv'))
    print("Successfully loaded customer data")
    customer_df.show(3)
    
    product_df = (DataFrameExtractor()
                        .extract('csv', 'raw/products.csv'))
    print("Successfully loaded product data")
    product_df.show(3)
    
except Exception as e:
    print(f"Error loading data from S3: {str(e)}")
    import traceback
    traceback.print_exc()

Successfully loaded fashion purchase data
+-----------+--------------+---------------+--------+-------------+-------------+--------------+
|customer_id|item_purchased|purchase_amount|quantity|date_purchase|review_rating|payment_method|
+-----------+--------------+---------------+--------+-------------+-------------+--------------+
|       4115|         Tunic|         2456.0|       3|   2023-07-11|          2.0|   Credit Card|
|       4019|      Tank Top|         2102.0|       2|   2023-03-23|          4.1|          Cash|
|       4097|      Leggings|         3126.0|       4|   2023-03-15|          3.2|          Cash|
+-----------+--------------+---------------+--------+-------------+-------------+--------------+
only showing top 3 rows

Successfully loaded customer data
+-----------+----------+---------+------+-------------------+--------------------+------------+-------------------+------------+-----------+
|customer_id|first_name|last_name|gender|      date_of_birth|               email|phone_number|        signup_date|     address|       city|
+-----------+----------+---------+------+-------------------+--------------------+------------+-------------------+------------+-----------+
|       3997|    Robert|    Smith|Female|1994-06-14 21:40:27|jane.davis1@mail.com|634-106-4981|2016-10-16 17:23:25|8465 Main St|San Antonio|
|       4101|     Emily|   Garcia|Female|1989-09-21 17:56:31|robert.williams2@...|386-635-5998|2021-04-04 14:24:06| 305 Main St|   New York|
|       3986|   Jessica|    Brown|  Male|1984-01-21 21:43:13|emily.davis3@mail...|627-341-5213|2018-04-22 04:51:57| 5725 Oak St|    Chicago|
+-----------+----------+---------+------+-------------------+--------------------+------------+-------------------+------------+-----------+
only showing top 3 rows

Successfully loaded product data
+--------+-----------+
|    item|   category|
+--------+-----------+
|Camisole|       Tops|
|Leggings|    Bottoms|
|  Bowtie|Accessories|
+--------+-----------+
only showing top 3 rows

**Transfrom**

In [4]:
# kiểm tra kiểu dữ liệu
print('\033[1m' +'Data type:')
customer_df.printSchema()
fas_purchase_df.printSchema()
product_df.printSchema()

# Check missing value
print('\033[1m' + 'Null:')
ValidatorImpl().check_null_values(customer_df)
ValidatorImpl().check_null_values(fas_purchase_df)
ValidatorImpl().check_null_values(product_df)

# Check duplicate value
print('\033[1m' +'Duplicate values:')
ValidatorImpl().check_duplicate_records(customer_df,['customer_id', 'first_name', 'last_name', 'gender', 'date_of_birth'])
ValidatorImpl().check_duplicate_records(fas_purchase_df,['customer_id', 'item_purchased', 'date_purchase'])
ValidatorImpl().check_duplicate_records(product_df,['item', 'category'])

Data type:
root
 |-- customer_id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- date_of_birth: timestamp (nullable = true)
 |-- email: string (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- signup_date: timestamp (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)

root
 |-- customer_id: integer (nullable = true)
 |-- item_purchased: string (nullable = true)
 |-- purchase_amount: double (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- date_purchase: date (nullable = true)
 |-- review_rating: double (nullable = true)
 |-- payment_method: string (nullable = true)

root
 |-- item: string (nullable = true)
 |-- category: string (nullable = true)

Null:
+-----------+----------+---------+------+-------------+-----+------------+-----------+-------+----+
|customer_id|first_name|last_name|gender|date_of_birth|email|phone_number|signup_date|address|city|
+-----------+----------+---------+------+-------------+-----+------------+-----------+-------+----+
|          0|         1|        0|     1|            1|    2|           1|          0|      1|   2|
+-----------+----------+---------+------+-------------+-----+------------+-----------+-------+----+

+-----------+--------------+---------------+--------+-------------+-------------+--------------+
|customer_id|item_purchased|purchase_amount|quantity|date_purchase|review_rating|payment_method|
+-----------+--------------+---------------+--------+-------------+-------------+--------------+
|          0|             0|              8|       0|            0|            5|             0|
+-----------+--------------+---------------+--------+-------------+-------------+--------------+

+----+--------+
|item|category|
+----+--------+
|   0|       1|
+----+--------+

Duplicate values:
+-----------+----------+---------+------+-------------------+---------------+
|customer_id|first_name|last_name|gender|      date_of_birth|duplicate_count|
+-----------+----------+---------+------+-------------------+---------------+
|       4054|   William|    Davis|Female|1995-06-26 03:31:42|              2|
|       4101|     Emily|   Garcia|Female|1989-09-21 17:56:31|              2|
|       4070|      John| Martinez|Female|1971-06-18 20:39:32|              2|
+-----------+----------+---------+------+-------------------+---------------+

+-----------+--------------+-------------+---------------+
|customer_id|item_purchased|date_purchase|duplicate_count|
+-----------+--------------+-------------+---------------+
|       4107|      Swimsuit|   2023-07-02|              2|
|       4064|       Sandals|   2022-10-08|              2|
+-----------+--------------+-------------+---------------+

+----+--------+---------------+
|item|category|duplicate_count|
+----+--------+---------------+
+----+--------+---------------+

In [5]:
'''
Change data type:
    - date_of_birth: TimeStamp -> Date
    - date_purchase: Date -> Timestamp
    - review_rating: Double -> Floatx
'''
cleand_customer_df = CustomerDataTransformer().transform(customer_df)

cleand_fas_purchase_df = PurchaseHistoryDataTransformer().transform(fas_purchase_df)

cleand_product_df = ProductDataTransformer().transform(product_df)

In [6]:
# Check data type
cleand_customer_df.printSchema()
cleand_fas_purchase_df.printSchema()
cleand_product_df.printSchema()

root
 |-- customer_id: integer (nullable = true)
 |-- first_name: string (nullable = false)
 |-- last_name: string (nullable = false)
 |-- gender: string (nullable = false)
 |-- date_of_birth: date (nullable = true)
 |-- email: string (nullable = false)
 |-- phone_number: string (nullable = false)
 |-- signup_date: timestamp (nullable = true)
 |-- address: string (nullable = false)
 |-- city: string (nullable = false)

root
 |-- customer_id: integer (nullable = true)
 |-- item_purchased: string (nullable = true)
 |-- purchase_amount: double (nullable = false)
 |-- quantity: integer (nullable = true)
 |-- date_purchase: timestamp (nullable = true)
 |-- review_rating: float (nullable = false)
 |-- payment_method: string (nullable = true)

root
 |-- item: string (nullable = true)
 |-- category: string (nullable = false)

In [7]:
# Check duplicate value
ValidatorImpl().check_duplicate_records(cleand_customer_df,['customer_id', 'first_name', 'last_name', 'gender', 'date_of_birth'])
ValidatorImpl().check_duplicate_records(cleand_fas_purchase_df,['customer_id', 'item_purchased', 'date_purchase'])
ValidatorImpl().check_duplicate_records(cleand_product_df,['item', 'category'])

+-----------+----------+---------+------+-------------+---------------+
|customer_id|first_name|last_name|gender|date_of_birth|duplicate_count|
+-----------+----------+---------+------+-------------+---------------+
+-----------+----------+---------+------+-------------+---------------+

+-----------+--------------+-------------+---------------+
|customer_id|item_purchased|date_purchase|duplicate_count|
+-----------+--------------+-------------+---------------+
+-----------+--------------+-------------+---------------+

+----+--------+---------------+
|item|category|duplicate_count|
+----+--------+---------------+
+----+--------+---------------+

**Load**

In [8]:
cleand_customer_df.show(3)
cleand_fas_purchase_df.show(3)
cleand_product_df.show(3)

+-----------+----------+---------+------+-------------+--------------------+------------+-------------------+-------------+-------+
|customer_id|first_name|last_name|gender|date_of_birth|               email|phone_number|        signup_date|      address|   city|
+-----------+----------+---------+------+-------------+--------------------+------------+-------------------+-------------+-------+
|       3964|      Alex|  Johnson|Female|   1972-07-14|robert.williams87...|291-285-3647|2017-09-17 14:04:33|  7255 Oak St|Phoenix|
|       3970|      Alex|    Jones|Female|   1981-10-08|jane.williams34@m...|869-802-7565|2015-07-10 17:08:42|5623 Maple St|Chicago|
|       3995|      Alex|    Jones|  Male|   1997-02-05|sarah.martinez133...|924-800-7391|2019-09-13 14:21:15| 5180 Main St|Houston|
+-----------+----------+---------+------+-------------+--------------------+------------+-------------------+-------------+-------+
only showing top 3 rows

+-----------+--------------+---------------+--------+-------------------+-------------+--------------+
|customer_id|item_purchased|purchase_amount|quantity|      date_purchase|review_rating|payment_method|
+-----------+--------------+---------------+--------+-------------------+-------------+--------------+
|       3957|      Backpack|          157.0|       1|2023-06-02 00:00:00|          5.0|          Cash|
|       3957|        Blouse|          183.0|       1|2023-03-09 00:00:00|          2.1|   Credit Card|
|       3957|      Camisole|          147.0|       2|2022-11-04 00:00:00|          4.7|          Cash|
+-----------+--------------+---------------+--------+-------------------+-------------+--------------+
only showing top 3 rows

+--------+-----------+
|    item|   category|
+--------+-----------+
|Camisole|       Tops|
|Leggings|    Bottoms|
|  Bowtie|Accessories|
+--------+-----------+
only showing top 3 rows

In [9]:
## Create customer, product and puchase_history_stagging table 
sql_statements =[
    """
    CREATE TABLE customer(
        customer_id INT PRIMARY KEY AUTO_INCREMENT,
        first_name VARCHAR(20),
        last_name VARCHAR(20),
        gender VARCHAR(10),
        date_of_birth DATE,
        email VARCHAR(50),
        phone_number VARCHAR(12),
        signup_date TIMESTAMP, 
        address VARCHAR(255),
        city VARCHAR(50)    
    )
    """,
    """
    CREATE TABLE product (
        item VARCHAR(50) PRIMARY KEY,
        category VARCHAR(50)
    )
    """,
    """
    CREATE TABLE purchase_history_stagging (
        purchase_id INT PRIMARY KEY AUTO_INCREMENT,
        customer_id INT,
        item_purchased VARCHAR(50),
        purchase_amount DOUBLE,
        quantity INT,
        date_purchase TIMESTAMP,
        review_rating FLOAT,
        payment_method VARCHAR(15)
       )   
    """    
]
message = '✅ Creation table success!' 
error_message = '❌ Error:'
for statement in sql_statements:
    try:
        MysqlExecutor().execute([statement], message, error_message)
    except Exception as e:
        print(f"Error executing statement: {statement}")
        print(f"Error details: {e}")
        break

✅ Creation table success!
✅ Creation table success!
✅ Creation table success!

In [10]:
# Load data to Mysql database
db_config = {
    'mode': 'append',
    'jdbc_url': 'jdbc:mysql://localhost:3306/walmart'
}
connection_properties = {
    'user': 'root',
    'password': '12345',
    'driver': 'com.mysql.cj.jdbc.Driver'
}

customer_table_name = 'customer'
LoadDataToMysql().load_to_db(cleand_customer_df, customer_table_name, db_config, connection_properties)

product_table_name = 'product'
LoadDataToMysql().load_to_db(cleand_product_df, product_table_name, db_config, connection_properties)

purchase_table_name = 'purchase_history_stagging'
LoadDataToMysql().load_to_db(cleand_fas_purchase_df, purchase_table_name, db_config, connection_properties)

In [11]:
'''
    Checking referential integrity: 
        purchase_history và product
        purchase_history và customer
'''
missing_product = cleand_fas_purchase_df.join(
    cleand_product_df,
    cleand_fas_purchase_df.item_purchased == cleand_product_df.item,
    'left_anti'
)
missing_product.show()

+-----------+--------------+---------------+--------+-------------------+-------------+--------------+
|customer_id|item_purchased|purchase_amount|quantity|      date_purchase|review_rating|payment_method|
+-----------+--------------+---------------+--------+-------------------+-------------+--------------+
|       3958|         Tunic|           64.0|       4|2023-06-17 00:00:00|          1.1|          Cash|
|       3962|        Poncho|          184.0|       3|2023-09-25 00:00:00|          2.6|          Cash|
|       3963|        Poncho|          184.0|       2|2023-03-02 00:00:00|          1.6|   Credit Card|
|       3965|        Poncho|          176.0|       1|2023-09-28 00:00:00|          3.6|          Cash|
|       3970|         Tunic|          166.0|       1|2023-02-02 00:00:00|          3.1|   Credit Card|
|       3972|         Tunic|          126.0|       3|2022-11-08 00:00:00|          3.8|   Credit Card|
|       3976|         Tunic|          140.0|       4|2022-12-31 00:00:00|          4.5|   Credit Card|
|       3978|        Poncho|          139.0|       1|2023-01-05 00:00:00|          3.2|          Cash|
|       3978|        Poncho|          191.0|       5|2023-04-25 00:00:00|          1.4|   Credit Card|
|       3980|        Poncho|          123.0|       5|2022-12-24 00:00:00|          4.0|   Credit Card|
|       3980|        Poncho|          131.0|       3|2023-01-23 00:00:00|          4.6|   Credit Card|
|       3980|        Poncho|          185.0|       5|2023-04-01 00:00:00|          3.0|   Credit Card|
|       3982|        Poncho|          188.0|       4|2022-11-22 00:00:00|          3.7|   Credit Card|
|       3982|         Tunic|          119.0|       4|2023-05-26 00:00:00|          3.4|   Credit Card|
|       3985|         Tunic|          161.0|       3|2023-07-26 00:00:00|          1.2|          Cash|
|       3986|         Tunic|          126.0|       3|2023-01-30 00:00:00|          4.1|          Cash|
|       3987|        Poncho|           36.0|       1|2023-02-26 00:00:00|          3.4|   Credit Card|
|       3990|        Poncho|           91.0|       5|2023-04-07 00:00:00|          3.2|   Credit Card|
|       3992|        Poncho|          149.0|       1|2023-05-24 00:00:00|          1.5|          Cash|
|       4002|        Poncho|           19.0|       3|2023-08-09 00:00:00|          2.3|          Cash|
+-----------+--------------+---------------+--------+-------------------+-------------+--------------+
only showing top 20 rows

In [12]:
cleand_customer_df.show()

+-----------+----------+---------+------+-------------+--------------------+------------+-------------------+-------------+------------+
|customer_id|first_name|last_name|gender|date_of_birth|               email|phone_number|        signup_date|      address|        city|
+-----------+----------+---------+------+-------------+--------------------+------------+-------------------+-------------+------------+
|       3964|      Alex|  Johnson|Female|   1972-07-14|robert.williams87...|291-285-3647|2017-09-17 14:04:33|  7255 Oak St|     Phoenix|
|       3970|      Alex|    Jones|Female|   1981-10-08|jane.williams34@m...|869-802-7565|2015-07-10 17:08:42|5623 Maple St|     Chicago|
|       3995|      Alex|    Jones|  Male|   1997-02-05|sarah.martinez133...|924-800-7391|2019-09-13 14:21:15| 5180 Main St|     Houston|
|       4009|      Alex|  Johnson|Female|   1987-09-21|linda.johnson91@m...|178-578-8949|2022-04-10 18:14:58|    45 Oak St|     Houston|
|       4032|      Alex|    Jones|  Male|   1992-07-24|jessica.rodriguez...|205-979-9257|2021-02-07 15:34:02|3981 Maple St|     Phoenix|
|       4036|      Alex| Williams|Female|   1983-02-06|john.garcia14@mai...|137-725-5082|2016-03-15 00:14:48|  9794 Oak St|    New York|
|       4040|      Alex|   Miller|Female|   1986-03-07|emily.williams28@...|490-228-8752|2015-04-25 19:18:24|  9451 Oak St|     Houston|
|       4048|      Alex|  Johnson|  Male|   1989-03-07|jane.davis110@mai...|199-178-4514|2020-11-01 08:22:38|2317 Maple St|     Houston|
|       4055|      Alex|   Garcia|Female|   1978-02-03|jessica.williams1...|812-801-3722|2020-07-23 21:23:39| 5359 Pine St| Los Angeles|
|       4060|      Alex|    Brown|Female|   1988-09-07|alex.miller151@ma...|609-227-4381|2016-06-30 06:38:25|  4809 Oak St|     Houston|
|       4071|      Alex|  Johnson|Female|   1982-05-05|robert.smith90@ma...|559-323-3342|2015-09-02 01:37:27|   570 Elm St|    New York|
|       4072|      Alex| Williams|Female|   1962-10-24|jane.davis123@mai...|476-629-6304|2022-05-27 15:36:37| 6498 Pine St|     Chicago|
|       4074|      Alex|    Smith|Female|   1961-12-20|john.davis51@mail...|736-765-4988|2022-09-01 17:53:48| 9972 Main St|     Chicago|
|       4085|      Alex|    Jones|Female|   1963-07-10|robert.rodriguez1...|824-383-3901|2019-11-06 07:45:46| 5348 Main St| Los Angeles|
|       4092|      Alex|    Jones| Other|   1987-05-21|john.williams7@ma...|687-991-1638|2018-01-02 08:22:41|5773 Maple St|     Phoenix|
|       4099|      Alex|Rodriguez|Female|   1990-07-14|jessica.martinez1...|914-343-4731|2016-04-13 18:23:02| 5485 Pine St|     Houston|
|       4103|      Alex|    Smith|  Male|   1965-03-03|sarah.smith107@ma...|830-776-9540|2021-06-04 22:10:24| 6951 Main St|Philadelphia|
|       3969|     Emily|   Miller|Female|   1993-01-24|alex.smith53@mail...|461-822-4155|2018-02-02 10:33:46|  5680 Elm St|     Houston|
|       3978|     Emily| Martinez|  Male|   1983-03-30|jessica.davis40@m...|482-157-9352|2021-02-14 06:42:43|  5007 Elm St|    New York|
|       4001|     Emily|    Davis|Female|   1995-07-23|alex.miller48@mai...|193-864-2827|2021-05-18 07:18:42|  7888 Elm St|Philadelphia|
+-----------+----------+---------+------+-------------+--------------------+------------+-------------------+-------------+------------+
only showing top 20 rows

In [13]:
missing_customer = cleand_fas_purchase_df.join(
    cleand_customer_df,
    cleand_fas_purchase_df.customer_id == cleand_customer_df.customer_id ,
    'left_anti'
)
missing_customer.show()

+-----------+--------------+---------------+--------+-------------+-------------+--------------+
|customer_id|item_purchased|purchase_amount|quantity|date_purchase|review_rating|payment_method|
+-----------+--------------+---------------+--------+-------------+-------------+--------------+
+-----------+--------------+---------------+--------+-------------+-------------+--------------+

In [14]:

# Create purchase_history table
sql_statement=["""
    CREATE TABLE purchase_history 
    SELECT ph.* 
    FROM purchase_history_stagging AS ph
    JOIN Product AS p 
    ON ph.item_purchased = p.item;
    """,
    
    """
    ALTER TABLE purchase_history
    ADD CONSTRAINT fk_customer_id 
    FOREIGN KEY (customer_id) 
    REFERENCES customer(customer_id) 
    ON DELETE CASCADE;
    """,
    
    """
    ALTER TABLE purchase_history
    ADD CONSTRAINT fk_item_purchased 
    FOREIGN KEY (item_purchased) 
    REFERENCES product(item) 
    ON DELETE CASCADE;   
    """
]

message = '✅ Creation table success!' 
error_message = '❌ Error:'
MysqlExecutor().execute(sql_statement, message, error_message)

✅ Creation table success!